POSTGRES_USER=healthcare
POSTGRES_PASSWORD=healthcare
POSTGRES_DB=healthcare_dw
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=healthcare-lakehouse

AIRFLOW_UID=50000
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://healthcare:healthcare@postgres:5432/airflow

WAREHOUSE_DB_HOST=postgres
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_NAME=healthcare_dw
WAREHOUSE_DB_USER=healthcare
WAREHOUSE_DB_PASSWORD=healthcare